{% extends 'base.html.twig' %}

{% block title %}Categorie index
{% endblock %}

{% block body %}
	<div class="container">
		<div class="d-flex justify-content-between flex-wrap mt-5">
			{% for categorie in categories %}
				<a href="{{ path('categorie_show', {'id': categorie.id}) }}" class="no-style">
					<div class="card" style="width: 18rem;">
						{# <img src="{{ asset("image/article/"~ categorie.image)}}" class="card-img-top" alt="..."> #}
						<img src="..." class="card-img-top" alt="...">
						<div class="card-body">
							<p class="card-text">{{ categorie.nom }}</p>
						</div>
					</div>
				</a>
			{% endfor %}
		</div>
	</div>
{% endblock %}
