{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Créer une nouvelle catégorie</h1>

		{{ include('categorie/_form.html.twig') }}


		<a href="{{ path('categorie_index') }}">Liste des catégories</a>
	</div>
{% endblock %}
