{% extends 'base.html.twig' %}

{% block title %}Tous les articles
{% endblock %}

{% block body %}
	<h1>Tous les articles</h1>
    <div class="d-flex flex-row flex-wrap justify-content-around">
	{% for article in articles %}
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="{{ asset("image/article/"~ article.image)}}" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">{{ article.nom }}</h5>
				<p class="card-text">{{ article.description }}</p>
				<a href="{{path('article_show',{'id': article.id})}}" class="btn btn-primary">Détail</a>
			</div>
		</div>
	{% else %}
		<tr>
			<td colspan="5">no records found</td>
		</tr>
	{% endfor %}
    </div>

{% endblock %}
